<span class="winner-badge <%= className || '' %>" title="Past Champion" aria-label="Past Champion">
  <i class="fa-solid fa-trophy" aria-hidden="true"></i>
  <% if (showText) { %><span class="ms-1">Past Champion</span><% } %>
</span>
